/*
    General Styles
 
    Colors
    @highlight: #196E76
    @text: #4A4A4A;
    @text-light: #9A9A9A
    @body-background: #EEEEEE;
*/
 
*, 
*:before, 
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
 
html {
  box-sizing: border-box;
  background: #EEEEEE;
  text-align: center;
}
 
body {
    font-size: 1em;
    line-height: 1.5;
    font-family: Lucida Grande, sans-serif;
    max-width: 43.75em; /* 880/16 */
    margin: 0 auto;
    padding: 0;
    color: #4A4A4A;
}
 
img {
    max-width: 100%;
    height: auto;    
}
 
a {
    color: inherit;
}

/*
    Header Styles
*/
header {
    margin: 1em 0 2em;
    color: #196E76;
}
 
    header h1 {
        font-family: 'Pacifico', serif;
        font-size: 3em; 
        text-shadow: 0 4px 2px rgba(0, 0, 0, .1);
        margin: 0;
    }
 
        header h1 a {
            text-decoration: none;
        }
 
    header p {
        margin-top: -.625em;
        text-indent: 7.75em; /* indent slightly */
        text-shadow: 0 1px 0px rgba(0, 0, 0, .15);
        font-size: .875em; /* 14/16 */
    }